a {
  color: white;
  display: inline-block;
}

.mainBg {
  background-image: url(../../imgs/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #ffc9e6;
  min-height: 100vh;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-0 {
  z-index: 0
}

.z-1 {
  z-index: 1
}

.w-full {
  width: 100%;
}