$primary : #3a4ae7;
$secondary: #dc198c;
$gray:#323232;
$gray-800:rgba(50, 50, 50, 0.6);
$alert: #d44211;
$bg:#ffc9e6;
$dogsGroup:#7b61ff;
$catsGroup:#ff748e;

a {
  color: white;
  display: inline-block;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.relative {
  position: relative;
  z-index: 0
}