.home {
  background-image: url(../../imgs/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.strawberry {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 15px;
  left: 15px;

  @include ipad {
    display: none;
  }
}

.formSection {
  padding: 0 15px;

  @include ipad {
    padding: 0;
  }

}