@import 'styles/helpers/_mixin.scss';

.strawberry {
  display: block;
  top: 15px;
  left: 15px;

  @include ipad {
    display: none;
  }
}

.formSection {
  padding: 0 15px;

  @include ipad {
    padding: 0;
  }

}