@import 'styles/helpers/_mixin.scss';

.modalBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba($color: $gray-800, $alpha: 0.1);

  &.show {
    display: flex;
  }
}

.modalWrap {
  max-width: 340px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.modalHeader {
  padding: 10px;
  color: white;
  background-color: $primary;
}

.closeIcon {
  display: block;
  cursor: pointer;
  padding: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    width: 15px;
    height: 2px;
    background-color: white;
  }

  &::before {
    transform: rotate(135deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.modalBody {
  padding: 10px;
  max-height: 250px;
  overflow-y: scroll;

  input {
    width: 70%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    border: 2px solid $primary;
    outline-width: 2px;
    outline-color: rgba($primary, 0.4);
  }
}

.fileGroup {
  padding-top: 10px;
}

.modalFooter {
  gap: 10px;
  padding: 10px;
  border-top: 1px solid rgba($color: $gray-800, $alpha: 0.1);
}

.modalBtn {
  font-size: 1.4rem;
  cursor: pointer;

  &.submit {
    @include commonBtn($primary, white, 70px, 35px);
  }

  &.cancel {
    @include commonBtn($gray, white, 70px, 35px);
  }
}