@import 'styles/helpers/_mixin.scss';

select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid $primary;
  outline-width: 2px;
  outline-color: rgba($primary, 0.4);

  &:focus {
    border: 2px solid rgba($primary, 0.4);
  }
}

.oneThirdSelector {
  width: calc((100% - 20px) / 3);
}

.oneHalfSelector {
  width: calc((100% - 10px) / 2);

  @include ipad {
    width: calc((80% - 10px) / 2);
  }
}