@import 'styles/helpers/_mixin.scss';

.swiperWrap {
  width: 50%;
}

.imgContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #f7f7f7;

  @include ipad {
    width: 415px;
    height: 415px;
  }
}

.imgWrap {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  background-color: #f7f7f7;

  &.fitst {
    transform: translateX(0);
  }

  &.second {
    transform: translateX(-415px);
  }

  &.third {
    transform: translateX(-830px);
  }
}


.selectDot {
  gap: 5px;
  padding: 5px;

  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bdbdbd;
  }
}