@import 'styles/helpers/_mixin.scss';

.swiperWrap {
  padding-bottom: 30px;

  @include ipad {
    max-width: 50%;
  }
}


.imgWrap {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  max-width: 415px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.overlapImg {
  opacity: 0;
  transition: opacity 0.2s ease-in;

  &.active {
    opacity: 1;
  }
}


.selectDot {
  gap: 5px;
  padding: 5px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bdbdbd;
  }
}

.dogs {
  .active {
    background-color: $dogsGroup;
  }
}

.cats {
  .active {
    background-color: $catsGroup;
  }
}