@import 'styles/helpers/_mixin.scss';

header {
  display: none;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: $primary;
  color: white;

  @include ipad {
    display: block;
  }
}

.navbarWrap {
  padding-top: 0;
  padding-bottom: 0;
}

.linkWrap {
  font-size: 1.6rem;

  nav a {
    padding: 16px 10px 20px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  a {
    padding: 0 10px;
  }
}