header {
  display: none;
  position: sticky;
  top: 0;
  padding: 0 10px;
  background-color: $primary;
  color: white;

  @include ipad {
    display: block;
  }
}

.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;

  ul {
    display: flex;
  }

  nav a {
    padding: 16px 10px 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  a {
    padding:  0 10px;
  }
}