@import 'styles/helpers/_mixin.scss';

.phoneNav {
  position: sticky;
  z-index: 1;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  background-color: $primary;

  @include ipad {
    display: none;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 15px;
  }
}