@import 'styles/helpers/_mixin.scss';

.emptyWrap {
  gap: 15px;
  padding: 30px 40px;
  border: 5px solid $primary;
  border-radius: 10px;
}

.noComments {
  font-size: 2.4rem;
  font-weight: bold
}

.goSignUp {
  font-size: 1.8rem;
  padding-left: 10px;
  padding-right: 10px;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: white;
  background-color: $primary;
}