@import 'styles/helpers/_mixin.scss';

.totalVotes {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
  background-color: $primary;

  @include ipad {
    font-size: 3.6rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  strong {
    font-weight: bold;
    font-size: 2.8rem;

    @include ipad {
      font-size: 5.6rem
    }
  }
}

.takeLeadSection {
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  @include ipad {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.votingSectionWrap {
  padding-top: 15px;
  padding-bottom: 15px;

  @include ipad {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.searchingBar {
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 15px;

  @include ipad {
    padding-bottom: 30px;
  }

}

.searchInputGroup {
  width: 330px;
  box-shadow: 2px 2px 3px rgba($color: $gray, $alpha: 0.2);

  @include ipad {
    width: 400px;
  }
}

.searchInput {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px 0 0 5px;
  outline-color: transparent;
  font-size: 1.6rem;
}

.searchBtn {
  cursor: pointer;
  width: 30%;
  padding: 5px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.4rem;
  color: white;
  background-color: $secondary;

  @include ipad {
    font-size: 2.4rem;
  }
}

.groupBtnWrap {
  gap: 5px;
  margin-left: auto;
}

.groupBtn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: black;
  background-color: #e1e1e1;

  @include ipad {
    font-size: 2.4rem;
  }

  &.active {
    color: white;
    background-color: $primary;
  }
}

.votingCardWrap {
  gap: 15px;
}