.leadCardWrap {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba($color: $gray, $alpha: 0.2);
  background-color: white;
  max-width: 160px;

  @include ipad {
    max-width: 310px;
  }
}

.crownWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba($color: $gray, $alpha: 0.2);
  background-color: white;

  @include ipad {
    width: 60px;
    height: 60px;
  }
}

.leadCardBody {
  overflow: hidden;
  font-size: 1.2rem;
  color: $gray;

  @include ipad {
    font-size: 1.6rem
  }

  .votes {
    text-align: right;

    strong {
      font-size: 1.6rem;

      &.dogs {
        color: $dogsGroup;
      }

      &.cats {
        color: $catsGroup;
      }

      @include ipad {
        font-size: 2.4rem;
      }
    }
  }
}

.leadCardImg {
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  @include ipad {
    width: 280px;
    height: 280px;
  }


}

.eachGroup {
  text-align: center;
  line-height: 1.88;
  color: white;

  &.dogs {
    background-color: $dogsGroup;
  }

  &.cats {
    background-color: $catsGroup;
  }
}

.leadInfor {
  padding: 5px 0;

  & p:nth-child(1) {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.2);

    @include ipad {
      font-size: 1.6rem;
    }
  }

  & p:nth-child(2) {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;

    @include ipad {
      font-size: 1.8rem;
    }
  }
}