$primary : #3a4ae7;
$secondary: #dc198c;
$gray:#323232;
$gray-800:rgba(50, 50, 50, 0.6);
$alert: #d44211;
$bg:#ffc9e6;


a {
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}